.error {
    color: #f00;
}

.dragarea {
    background-color: #3999dc;
    color: #bbb;
    width: 100%;
    cursor: pointer;
    font-size: 1.2rem;
}

.droparea {
    background-color: #eff;
    color: #aaa;
    width: 100%;
    font-size: 1.2rem;
}

.preview img {
    max-height: 200px;
}

.preview .removeImg {
    position: absolute;
    left: 0;
    top: -16px;
    border: 1px solid red;
    padding: 3px 10px;
    border-radius: 100%;
}

.upload-area {
    border: 2px dashed #ddd;
}